In [ ]:
# Importando a biblioteca
import pandas as pd

In [ ]:
# Leitura dos Arquivos
df1 = pd.read_excel("/content/Aracaju.xlsx")
df2 = pd.read_excel("/content/Fortaleza.xlsx")
df3 = pd.read_excel("/content/Natal.xlsx")
df4 = pd.read_excel("/content/Recife.xlsx")
df5 = pd.read_excel("/content/Salvador.xlsx")

In [ ]:
# Lendo as 5 primeiras linhas do arquivo df1 (Aracaju).
print("Lendo as 5 primeiras linhas do arquivo df1 (Aracaju).")
df1.head()

In [ ]:
# Juntando todos os arquivos
df = pd.concat([df1, df2, df3, df4, df5])

In [ ]:
# Exibindo as 5 últimas linhas
print("Exibindo as 5 últimas linhas")
df.head(5)

In [ ]:
# Exibindo as 5 últimas linhas
df.tail()

In [ ]:
#
print("Pegando 5 amostras de daos variados")
df.sample(5)

In [ ]:
# Verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
# Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.head()

In [ ]:
#   Consultando linhas com valores faltantes

In [ ]:
df.isnull().sum()

In [ ]:
# Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.sample(15)

In [ ]:
df["Vendas"].mean()

In [ ]:
# Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [ ]:
# Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
# Apagnado as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
# Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

Criando Colunas Novas

In [ ]:
# Criando a coluna de Receita
df["Receita"] = df["Vendas"].mul(df['Qtde'])

In [ ]:
df.head()

In [ ]:
df["Receita/Vendas"] = df['Receita']/df['Vendas']

In [ ]:
df.head()

In [ ]:
# Retornando a maior Receita
df["Receita"].max()

In [ ]:
# Retornando a menor Receita
df["Receita"].min()

In [ ]:
# Top 3 Maiores Valores em Receita
df.nlargest(3,"Receita")

In [ ]:
# Tpo 3 Menores Valores em Receita
df.nsmallest(3, "Receita")

In [ ]:
# Agrupamento (Soma das Receitas) por Cidade
df.groupby("Cidade")["Receita"].sum()

In [ ]:
# Ordenando o conjunto de dados da Receita por ordem descendente
df.sort_values("Receita", ascending=False).head(10)

In [ ]:
# Ordenando o conjunto de dados da Receita por ordem ascendente
df.sort_values("Receita", ascending=True).head(10)

# Trabalhando com DATAS

In [ ]:
# Transformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [ ]:
# Verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
# Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
# Verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
# Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

In [ ]:
# Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [ ]:
df.sample(5)

In [ ]:
# Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [ ]:
df.sample(5)

In [ ]:
# Retornando a data mais antiga
df["Data"].min()

In [ ]:
# Calculando a diferença de dias
df["Diferenca_dias"] = df["Data"] - df['Data'].min()

In [ ]:
df.head(15)

In [ ]:
# Criando a coluna de trimestre
df["Trimestre_Venda"] = df["Data"].dt.quarter

In [ ]:
df.sample(5)

In [ ]:
# Filtrando as vendas de 2010 do mês de março
vendas_marco_2019 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [ ]:
vendas_marco_2019

In [ ]:
vendas_marco_2019.sample(15)

# Visualização de Dados

In [ ]:
df["LojaID"].value_counts(ascending=False)

In [ ]:
# Gráfico de Barras
df["LojaID"].value_counts(ascending=False).plot.bar()

In [ ]:
# Gráfico de Barras horizontais
df['LojaID'].value_counts().plot.barh();

In [ ]:
# Gráfico de barras horizontais ascendentes
df['LojaID'].value_counts(ascending=True).plot.barh()

In [ ]:
# Gráfico de Pizza
df.groupby(df["Data"].dt.year)["Receita"].sum().plot.pie()

In [ ]:
# Total de Vendas por cidade
df["Cidade"].value_counts()

In [ ]:
# Adicionando um título e alterando o nome dos eixos
import matplotlib.pyplot as plt
df['Cidade'].value_counts().plot.bar(title="Total vendas por Cidade")
plt.xlabel("Cidade")
plt.ylabel("Total Vendas");

In [ ]:
# Alterando a Cor
df['Cidade'].value_counts().plot.bar(title="Total vendas por Cidade", color="red")
plt.xlabel("Cidade")
plt.ylabel("Total Vendas");

In [ ]:
# Alterando o estilo
plt.style.use('ggplot')

In [ ]:
df.groupby(df["mes_venda"])["Qtde"].sum().plot(title= "Total Produtos Vendidos x Mês")
plt.xlabel("Mês")
plt.ylabel("Total Produtos Vendidos");
plt.legend()

In [ ]:
df.groupby(df["mes_venda"])["Qtde"].sum()

In [ ]:
# Selecionando apenas as vendas de 2019
df_2019 = df[df["Ano_Venda"] == 2019]

In [ ]:
# Total produtos vendidos por mês
df_2019.groupby(df_2019['mes_venda'])["Qtde"].sum().plot(marker = "v")
plt.xlabel("Mês")
plt.ylabel("Total Produtos Vendidos");
plt.legend()

In [ ]:
# Histograma
plt.hist(df["Qtde"], color="magenta");

In [ ]:
plt.scatter(x=df_2019['dia_venda'], y = df_2019['Receita'])

In [ ]:
# Salvando em png
df_2019.groupby(df_2019['mes_venda'])["Qtde"].sum().plot(marker = "*")
plt.title("Quantidade de Produtos Vendidos X Mês")
plt.xlabel("Mês")
plt.ylabel("Total Produtos Vendidos");
plt.legend()
plt.savefig("grafico_QTDE_X_Mes.png")